<% provide(:title, 'About Us') %>
	
<h1>About Us</h1>
<center><%= link_to image_tag("sc-small.jpg", alt: "Rails"), 'http://searleconsulting.com/' %></center><br>


<p>
Searle Consulting is an I.T. oriented consulting company based in East London, South Africa.
</p><p>
The founders of Searle Consulting have over 27 years of combined I.T. and Project Management experience. We pride ourselves on relationships and solutions that produce results.
</p><p>
Our staff are a young, energetic and vibrant group of individuals who thrive on excellence and are proud of the broad base of skill sets we bring to the business community all throughout South Africa and internationally. We forever serve our clients with honesty and integrity while providing you with the best technology solutions for your business needs. In doing so, we evoke teamwork and customer collaboration, along with hard work and accountability.
</p><p>
We strive to bridge the traditional gap between Business and Information Systems and rather focus on building a core team, utilizing both parties to work towards a common goal: Increased efficiency within your business.
</p><p>
Allow us to show you how, together, we can use technology to enhance and enable your business in order to get it to the next level and give you a competitive edge in the market.
Allow us to be your Partner in Technology Solutions.
</p><p>
Thank you for stopping by. While you are here, why not check out our range of
<%= link_to "products", products_path %>, <%= link_to "services", services_path %> or <%= link_to "contact us", contact_path %> for more information.
</p>


<center><%= link_to image_tag("aboutus.jpg", alt: "Searle Consulting"), 'http://searleconsulting.co.za/' %></center>