<% provide(:title, 'Home') %>

<h1><%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %></h1>

<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->

	<!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
<li><img src="data1/images/android.jpg" alt="android" title="android" id="wows1_0"/></li>
<li><img src="data1/images/apple.jpg" alt="apple" title="apple" id="wows1_1"/></li>
<li><img src="data1/images/msc.jpg" alt="msc" title="msc" id="wows1_2"/></li>
<li><img src="data1/images/php.jpg" alt="php" title="php" id="wows1_3"/></li>
<li><img src="data1/images/prince2.jpg" alt="prince2" title="prince2" id="wows1_4"/></li>
<li><img src="data1/images/rails.jpg" alt="rails" title="rails" id="wows1_5"/></li>
<li><img src="data1/images/sc.jpg" alt="sc" title="sc" id="wows1_6"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="android"><img src="data1/tooltips/android.jpg" alt="android"/>1</a>
<a href="#" title="apple"><img src="data1/tooltips/apple.jpg" alt="apple"/>2</a>
<a href="#" title="msc"><img src="data1/tooltips/msc.jpg" alt="msc"/>3</a>
<a href="#" title="php"><img src="data1/tooltips/php.jpg" alt="php"/>4</a>
<a href="#" title="prince2"><img src="data1/tooltips/prince2.jpg" alt="prince2"/>5</a>
<a href="#" title="rails"><img src="data1/tooltips/rails.jpg" alt="rails"/>6</a>
<a href="#" title="sc"><img src="data1/tooltips/sc.jpg" alt="sc"/>7</a>
</div></div>
<a class="wsl" href="http://wowslider.com">Photo Slideshow Software Review by WOWSlider.com v2.3.1m</a>
	<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome</h1>

    <h2>
      This is the 
      <a href="http://searleconsulting/">Searle Consulting</a>
       Ruby on Rails web application test site.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %> 