<% provide(:title, 'Services') %>
<h1>Services</h1>

<p>
We offer a broad range of skills in our organisation, but some of the areas we specialize in are highlighted below:
</p><br><br>
<h2>Development Skill sets</h2>
<p>
<%= link_to image_tag("apple.jpg", alt: "Rails"), services_path %><br> Apple Development for iOS mobile devices, including iPad, iPhone and iPod Touch<br>
<%= link_to image_tag("rails.jpg", alt: "Rails"), services_path %><br> Ruby on Rails - Our favorite environment for all our web applications<br>
<%= link_to image_tag("android.jpg", alt: "Rails"), services_path %><br> Android mobile device development<br>
<%= link_to image_tag("msc.jpg", alt: "Rails"), services_path %><br> C# .Net development for enterprise clients<br>
<%= link_to image_tag("php.jpg", alt: "Rails"), services_path %><br> PHP web development<br>
</p>
<br><br>
<h2>We also offer</h2>
<p>
<%= link_to image_tag("cloud.jpg", alt: "Rails"), services_path %><br> Cloud computing solutions - Searle Consulting is totally cloud based ourselves! We walk the talk and pass on our our in-house implementation skills to our clients<br>  
<%= link_to image_tag("prince2.jpg", alt: "Rails"), services_path %><br> I.T. Project management - All our project managers are certified in the Prince 2 project management methodology<br><br>
<%= link_to image_tag("sc.png", alt: "Rails"), services_path %><br> I.T. Consultants outsourcing - Have one or more of our developers placed with you on your premises in order to make sure you get exactly the solution you are looking for to improve your business
</p>