<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<p><center><b>Please note:</b><br>This is for our employees only.<br>
<center>Not one? <%= link_to "Contact us here!", contact_path %></p></center><br>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, :url => sessions_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
    <% end %>
    
<!--    <p>New user? <%= link_to "Sign up now!", signup_path %></p> -->
  </div>
</div>